body {
  background-color: #eceef1;
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #1b84ca;
  text-decoration: none;
}

nav {
  display: block;
}

/* Pointable */
button, a{
  cursor: pointer;
}

/* Navbar Styling */
#tr-nav {
  margin-top: 10px;
}

/* Top-right description grid */
.nav-container {
  display: grid;
  float: right;
}

.ng-item {
  font-size: 12px;
  margin-bottom: 6px;
}

/* Sign In button at top right of the screen */
#sign-in {
  background: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  padding: 0 20px 0 20px;
  width: 101.8px;
  height: 32px;
  color: white;
  float: right;
  margin-right: 30px;
  margin-left: 10px;
  font-size: 14px;
}

/* Main Form Section */
#logo {
  width: 118px;
  height: 35px;
}

article {
  display: inline-block;
  margin-top: 35px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 30px;
}

.logo-icon {
  height: 100px;
  width: 100px;
}

#app-icons {
  width: 350px;
}

/* Actual Form Styling */
#sign-up {
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  color: #4C4C4C;
  text-align: center;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 100%;
  border-radius: 2px;
  border-color: #c7c7c7;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
}

#form-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.1;
  padding-top: 20px;

}

.form-sub {
  font-weight: normal;
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.2;
}

.form-sub-link {
  color: #0077C5;
  font-weight: 300; 
  font-size: 12px;
}

.field-label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 39px;
  font-size: 14px;
  line-height: 25px;
  text-align: left;
}

.fields {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 304px;
  height: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: #c7c7c7;
  border-radius: 3px;
}

#phone-sub {
  font-size: 10px;
  color: #444;
  padding: 5px 0;
  text-align: left;
  margin-left: 39px;
  margin-top: 5px;
}

/* Submit Button */
#create {
  color: white;
  background-color: #0077c5;
  border: none;
  width: 310px;
  height: 42px;
  margin-top: 30px;
  margin-bottom:30px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);
  font-size: 1.125em;
}

.agree {
  font-style: italic;
  font-size: 12px;
  color: #757575;
  text-align: center;
  font-weight: normal;
  line-height: 1.5;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.form-footer {
  background-color: #eceef1;
  width: 100%;
  height: 50px;
  display: flex;
}

.form-footer-text {
  font-size: 10px;
  color: #8d9096;
  text-align: center;
  margin: auto;
}

/* Actual Footer Styling */
.footer-text {
  color: #505050;
  background: transparent;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  line-height: 1.5;

}

.final-footer {
  margin-bottom: 30px;
}
